.fixed-top{
    background-color: black;
}

#header .logo img{
    max-height: 70px;
}

#header.header-scrolled, #header.header-inner-pages{
    background-color: black;
}

#hero{
    background: #ffffff;

}
.imageAbout{
    height: auto;
    width: 90%;
}

#hero h1{
    color: black;
    font-size: 30px;
}

#hero h2 {
    color: rgb(0 141 162);
    margin-bottom: 10px;
    font-weight: 350;
}

.section-bgDif{
    background-color: black;
}
#footer{
  background-color:   #000000;
}

#hero{
    background: #d8e9ff;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.section-bgDif {
    background-color: #005e8b;
}

.hero{
    padding-top: 0px;

}

.mobile-nav-toggle {
    display: none;
  }
  
  /* Add this CSS to make the navbar visible in full screen */
  @media (max-width: 992px) {
    #navbar ul {
      display: none;
    }
  
    #navbar ul.active {
      display: block;
    }
  
    .mobile-nav-toggle {
      display: inline-block;
      cursor: pointer;
      font-size: 24px;
      color: #7c7c7c;
      padding: 10px;
      margin-right: 0;
      margin-left: auto;
    }
  }
  
  /* Add this CSS to display the navigation menu on larger screens */
  @media (min-width: 992px) {
    #navbar ul {
      display: flex;
      align-items: center;
    }
    
    #navbar ul li {
      margin-left: 20px;
    }
  }
  #navbar ul.active {
    display: flex !important;
    align-items: center;
  }


  
   